target/classes/org/dayton/wookie/App$Steps.class
target/classes/org/dayton/wookie/App$TeamStatus.class
.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
*.class
